* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 5px;
}

.app {
  max-width: 450px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid gainsboro;
  padding: 20px;
  border-radius: 15px;
}

h1, p {
  color: gainsboro;
}

h1 {
  border-bottom: 50px;
}

.onCurrencyText {
  color: gainsboro;
  font-family: Roboto, HelveticaNeue, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.rateText {
  color: yellow;
  font-family: Google Sans, arial, sans-serif;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: normal;
}

.date {
  color: gainsboro;
  margin-bottom: 16px;
  font-size: 12px;
}